/node_modules
/public/hot
/public/.htaccess
/public/storage
/public/images
/public/transaction_reference_file
/public/expense_reference_file
/app/Console/Commands/error_log
/app/Console/error_log
/app/Exceptions/error_log
/app/Exports/error_log
/app/Helpers/error_log
/app/Http/Controllers/API/error_log
/app/Http/Controllers/Admin/Report/error_log
/app/Http/Controllers/Admin/error_log
/app/Http/Controllers/error_log
/app/Http/Middleware/error_log
/app/Http/error_log
/app/Models/error_log
/app/Providers/error_log
/bootstrap/error_log
/config/error_log
/database/factories/error_log
/database/migrations/error_log
/database/seeders/error_log
/public/error_log
/routes/admin/error_log
/routes/error_log
/tests/Feature/error_log
/tests/Unit/error_log
/tests/error_log
/storage/*.key
/vendor
/resources/views/prints/pos
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/*
#/public/js/*
#/public/css/*
